<div id="top-buttons" class="button-row">
	<div id="tools" class="overlay-button">drawing tools</div>
	<div id="tool-icons">
		<div id="tool-minus" class="tool-size"></div>
		<img id="icon" class="icon-spoon" src="images/icon-spoon.png" />
		<div id="tool-plus" class="tool-size"></div>
	</div>
	<div id="art-gallery" class="overlay-button">art gallery</div>
</div>
<div id="bottom-buttons" class="button-row">
	<div id="clear-it" class="overlay-button">clear it</div>
	<div id="frame-it" class="overlay-button">frame it</div>
</div>