<div id="frame-container">
	<canvas id="pb-frame" width="1000" height="1000"></canvas>
</div>
<div id="restart">
	<span>start again</span>
	<img src="images/start-over.png" />
</div>
<div class="controls">
	<div id="frame-select">
		<div class="select" id="select-left"></div>
		<span>select frame</span>
		<div class="select" id="select-right"></div>
		<div class="canvas-nav">
			<div id="zoom-in"></div>
			<div id="rotate"></div>
			<div id="zoom-out"></div>
		</div>
	</div>
	<p>Give your masterpiece a name!</p>
	<input id="name" placeholder="Enter your name here" />
	<div id="done" class="button">Done</div>
</div>