<p class="artist-name"><%= this.pbName %></p>
<p>An artist must take credit for their work!</p>
<input id="email" placeholder="Enter your e-mail" />
<div id="submit-gallery" class="button">Submit</div>