<div id="open-gallery-form" class="button">Submit to Gallery</div>
<p>Share your masterpiece with the world!</p>
<div class="social">
  <img class="dl" src="../images/social/download.svg" />
  <img class="fb" src="../images/social/facebook.svg" />
  <img class="tw" src="../images/social/twitter.svg" />
  <img class="pin" src="../images/social/pinterest.svg" />
</div>
<div id="make-more" class="button">Make more art!</div>