<div id="close-detail">
	<span>close</span>
	<img src="images/close.png" />
</div>
<img id="detail-image" src="<%= this.model.get('url') %>" />
<div class="controls">
	<div id="left"></div>
	<span>browse</span>
	<div id="right"></div>
</div>
<div class="social">
  <img class="fb" src="../images/social/facebook.svg" />
  <img class="tw" src="../images/social/twitter.svg" />
  <img class="pin" src="../images/social/pinterest.svg" />
</div>