<div id="intro-center">
	<div id="intro-inner">
		<img id="yippee-intro" src="images/yippee.png" />
		<img id="pbart" src="images/pbart.png" />
		<p id="pb-spiel">Nothing beats the feeling of dipping into a fresh new jar of Skippy. The untouched peanut butter is your blank canvas. It could be anything - a canine portrait, a picturesque landscape, or even an abstract masterpiece. No matter what it is, it'll be delicious.</p>
		<p id="peel-begin">Peel to begin</p>
		<div id="peel-circle"></div>
	</div>
</div>
<div id="the-peel"></div>