/* ----------------------------------------------------------------------------- *\
   DEFAULTS
\* ----------------------------------------------------------------------------- */

$component-text-color: #222;
$selection-bg-color: #b3d4fc;
/*$body-font: normal 1em "Helvetica Neue", Helvetica, Arial, sans-serif;*/
$body-font: normal 1em "Nunito", serif;
$body-font-color: #000;
$link-color: #ff0000;
$link-hover-color: #ffff00;

$skippy-blue: #1FC7EC;
$skippy-blue-light: #67D2E9;
$skippy-blue-dark: #1B99C1;
$skippy-red: #E81A2C;

/* ----------------------------------------------------------------------------- *\
   MIXINS
\* ----------------------------------------------------------------------------- */

@import "normalize";

@import "mixins/rem";
@import "mixins/opacity";